In [ ]:
class car:
    pass

In [ ]:
car()

In [ ]:
class laptop:
    def __init__(self,laptop_name):
        self.laptop_name=laptop_name
        print('my laptop name is',laptop_name)

In [ ]:
lap=laptop('DELL')

my laptop name is DELL

In [ ]:
class car:
    def __init__(self,car_name):
        self.car_name=car_name
        print('my car name is',car_name)

In [ ]:
n=car('nano')

my car name is nano

In [ ]:
class Int:
    a=10
    print('the value of a is',a)
class Float:
    b=3.14
    print('the value of b is',b)
class String:
    c='bhushan'
    print('the value of c is',c)

the value of a is 10
the value of b is 3.14
the value of c is bhushan

In [ ]:
class car:
    pass

In [ ]:
car()

In [ ]:
audiq7=car()

In [ ]:
audiq7

In [ ]:
audiq7.milage=10
audiq7.year=2022
audiq7.make=345
audiq7.model="fsdf"

In [ ]:
audiq7.milage

10

In [ ]:
milage

NameError: ignored

In [ ]:
audiq7.year

2022

In [ ]:
audiq7.make

345

In [ ]:
audiq7.model

'fsdf'

In [ ]:
nano=car()

In [ ]:
nano.milage=20
nano.year=2021
nano.make=234
nano.model='sdfa'
nano.engino=345554554353

In [ ]:
nano.milage

20

In [ ]:
nano.year

2021

In [ ]:
nano.make

234

In [ ]:
nano.model

'sdfa'

In [ ]:
nano.engino

345554554353

In [ ]:
print(nano.milage,audiq7.milage)

20 10

In [ ]:
print(nano.year,audiq7.year)

2021 2022

In [ ]:
class car:
    def __init__(self,milage,year,make,model,engino):
        self.milage=milage
        self.year=year
        self.make=make
        self.model=model
        self.engino=engino

In [ ]:
audiq7=car(10,2020,234,'sdfa',3455545353)

In [ ]:
audiq7.milage

10

In [ ]:
audiq7.year

2020

In [ ]:
audiq7.make

234

In [ ]:
audiq7.model

'sdfa'

In [ ]:
audiq7.engino

3455545353

In [ ]:
class car:
    def __init__(a,milage,year,make,model):
        a.milage=milage
        a.year=year
        a.make=make
        a.model=model

In [ ]:
nano1=car(20,2000,342,'234fsdf')
audiq1=car(10,2001,342,'sdfs')
nano2=car(20,2000,342,'234fsdf')
audiq2=car(10,2001,342,'sdfs')
nano3=car(20,2000,342,'234fsdf')
audiq3=car(10,2001,342,'sdfs')
nano4=car(20,2000,342,'234fsdf')
audiq4=car(10,2001,342,'sdfs')
nano5=car(20,2000,342,'234fsdf')
audiq5=car(10,2001,342,'sdfs')

In [ ]:
nano1.milage

20

In [ ]:
class car:
    def __init__(a, m,y,na,mo):
        a.milage=m
        a.year=y
        a.make=na
        a.model=mo

In [ ]:
nano67=car(20,2020,345324,"234fsdf")

In [ ]:
nano67.milage

20

In [ ]:
class car:
    def __init__(a,m,y,na,mo):
        a.milage=m
        a.year=y
        a.make=na
        a.model=mo
    def age(self,current_year):
        return current_year-self.year

In [ ]:
nano67=car(20,2020,345234,'234fsdf')

In [ ]:
nano67.milage

20

In [ ]:
nano67.age(2021)

1

In [ ]:
class car:
    def __init__(a,m,y,na,mo):
        a.milage=m
        a.year=y
        a.make=na
        a.model=mo
    def age(b,current_year):
        return current_year-b.year

In [ ]:
nano67=car(20,2020,345234,'234fsdf')

In [ ]:
nano67.milage

20

In [ ]:
nano67.age(2021)

1

In [ ]:
class car:
    def __init__(a,m,y,na,mo):
        a.milage=m
        a.year=y
        a.make=na
        a.model=mo
    def age(b,current_year):
        return current_year-b.year
    def milage1(self):
        print("print a milage of car",self.milage)
        # return self.milage
    def __str__(c):
        return "this is my car class i have created"

In [ ]:
nano67=car(20,2020,345234,'234fsdf')

In [ ]:
nano67.milage1()

print a milage of car 20

In [ ]:
nano67.age(2021)

1

In [ ]:
nano67

In [ ]:
print(nano67)

this is my car class i have created

In [ ]:
class student:
    def __init__(self,name,rollno,joining_date,current_topic):
        self.name=name
        self.rollno=rollno
        self.joining_date=joining_date
        self.current_topic=current_topic
    def name_parsing(self):
        if type(self.name)==list:
            for i in self.name:
                print("name of the student",i)
        else:
                print('provided name is not is a from of list ')
    def crt_topic(self):
        print("current topic discussed in my class is",self.current_topic)
    def str_rollno(self):
        try:
            if type(self.rollno)==str:
                 print("do nothing")
            else:
                 return str(self.rollno)
        except Exception as e:
            print("this is my erro msg")
    def duration(self,current_date):
        print('duration of student in my class is',current_date-self.joining_date)

    def __str__(self):
        return "this is student class where they can tyr to input there own data and they can try to"

In [ ]:
srini=student('srini',546546,2021,"oops")

In [ ]:
srini.duration(2021)

duration of student in my class is 0

In [ ]:
srini.str_rollno()

'546546'

In [ ]:
print(srini)

this is student class where they can tyr to input there own data and they can try to

In [ ]:
marur=student("marur","dfsf",55345,345)

In [ ]:
pawan=student(["naveen","jay","krish","naik"],[234,2423,423,34,234],2021, "oops")

In [ ]:
pawan.name_parsing()

AttributeError: ignored

In [ ]:
class employee():
    def __init__(self,emp_id,emp_name,salary):
        self.emp_id=emp_id
        self.emp_name=emp_name
        self.salary=salary
    def current_salary(self,current_salary):
        self.current_salary=current_salary
        print('current salary of the employee is',self.current_salary)

In [ ]:
emp=employee(101,'xyz',20000)

In [ ]:
emp.emp_id

101

In [ ]:
emp.emp_name

'xyz'

In [ ]:
emp.salary

20000

In [ ]:
emp.current_salary(30000)

current salary of the employee is 30000

In [ ]:
class data:
    def __init__(self,file_name,file_type,data,size):
        self.file_name=file_name
        self.file_type=file_type
        self.data=data
        self.size=size
    def fileopen(self):
        f=open(self.file_name,'w')
        f.write('this is text file')
        f.close()
    def fileread(self):
        f=open(self.file_name,'r')
        print(f.read())
        f.close()
    def fileappend(self):
        f=open(self.file_name,'a')
        f.write('Appending data to file')
        f.close()

In [ ]:
file1=data('file1','txt','2021-4-11','2mb')
file1.fileopen()
file1.fileread()
file1.fileappend()

this is text file