In [ ]:
class Tyres:
    def __init__(self,branch,belted_bias,opt_pressure):
        self.branch=branch
        self.belted_bias=belted_bias
        self.opt_pressure=opt_pressure
    def __str__(self):
        return ("Tyres:\n\tbranch:"+self.branch+"\n\t belted_bias:"+str(self.belted_bias) +"\n \t opt_pressure:"+str(self.opt_pressure))
class Engine:
    def __init__(self,fuel_type,noise_level):
        self.fuel_type=fuel_type
        self.noise_level=noise_level
    def __str__(self):
        return ("Engine:\n\t fuel_type:"+self.fuel_type+"\n\t noise_level:"+str(self.fual_type)+"\n \t noise_level:"+str(self.noise_level))

class Car:
    def __init__(c,tyres,engine):
        c.tyres=tyres
        c.engine=engine
    def __init__(self):
        return str(self.tyres)+ "\n" +str(self.engine)

In [ ]:
t=Tyres('pirelli',True,2.0)
e=Engine('Diesel',3)

In [ ]:
class Par:
    a=10
    b=20
    def __init__(self,Par_a,Par_b):
        self.Par_a=Par_a
        self.Par_b=Par_b
class child(Par):
    print(Par.a)

10

In [ ]:
class Father:
    a=10
    b=40
    def __init__(self,Father_a,Father_b):
        self.Father_a=Father_a
        self.Father_b=Father_b
class Sun(Father):
    print(Father.a)

10

In [ ]:
class Dog:
    def __init__(self,name,yearofbirth,bread):
        self.name=name
        self.yearofbirth=yearofbirth
        self.bread=bread
    def __str__(self):
        return "%s is a %s born in %s." % (self.name,self.yearofbirth,self.bread)

In [ ]:
pet=Dog('pet',1995,'Laika')
print(pet)

pet is a 1995 born in Laika.

In [ ]:
class Student:
    def __init__(self,name,id,school_name,address):
        self.name=name
        self.id=id
        self.school_name=school_name
        self.address=address
    def __str__(self):
        return str(self.name) + " " + str(self. id) + " " + str(self. school_name) + " " + str(self. address)

In [ ]:
stu=Student('Krish',1,'Ineuron','Banguler')

In [ ]:
print(stu.name)

Krish

In [ ]:
print(stu.id)

1

In [ ]:
dog=Student(pet,'1975','Laika','Guntur')

In [ ]:
class Dog:
    def __init__(self,name,age,color,bread,gender):
        self.name=name
        self.age=age
        self.color=color
        self.bread=bread
        self.gender=gender 

class Dog1(Dog):
    def __init__(self,name,age, yearofbirth,color,bread,gender):
        self.name=name
        self.age=age
        self.yearofbirth=yearofbirth
        self.color=color
        self.bread=bread
        self.gender=gender

In [ ]:
d=Dog1('tommy',10,1995,'white','hydribed','male')

In [ ]:
print(d.name)

tommy

In [ ]:
print(d.color)

white

In [ ]:
print(d.gender)

male

In [ ]:
class BonusDistribution:
    def __init__(self,employee_id,employee_Rating):
        self.employee_id=employee_id
        self.employee_Rating=employee_Rating
        self.__bonusforRatingA='70%'
        self.__bonusforRatingB='60%'
        self.__bonusforRatingC='50%'
        self.__bonusforRatingD='30%'
        self.__bonusforRatingForRest='No Bonus'
    def BonusCalculator(self):
        if self.employee_Rating=='A':
            bonus=self.__bonusforRatingA
            msg="Bonus for this employee is : "+bonus
            return msg
        elif self.employee_Rating=='B':
            bonus=self.__bonusforRatingB
            msg="Bonus for this employee is : "+bonus
            return msg
        elif self.employee_Rating=='C':
            bonus=self.__bonusforRatingC
            msg="Bonus for this employee is : "+bonus
            return msg
        elif self.employee_Rating=='D':
            bonus=self.__bonusforRatingD
            msg="Bonus for this employee is : "+bonus
            return msg
        else:
            bonus=self.__bonusforRatingForRest
            msg="Bonus for this employee is : "+bonus
            return msg
    def changevariable(self,value):
        self.__bonusforRatingB=value

In [ ]:
emp1=BonusDistribution(12332,'B')
emp2=BonusDistribution(1343,'A')
emp3=BonusDistribution(1031,'E')

In [ ]:
emp1.BonusCalculator()

'Bonus for this employee is : 60%'

In [ ]:
emp3.BonusCalculator()

'Bonus for this employee is : No Bonus'

In [ ]:
emp2.BonusCalculator()

'Bonus for this employee is : 70%'

In [ ]:
emp1.__bonusforRatingA='90%'

In [ ]:
emp1.BonusCalculator()

'Bonus for this employee is : 60%'

In [ ]:
emp1._BonusDistribution__bonusforRatingB='90%'

In [ ]:
emp1.BonusCalculator()

'Bonus for this employee is : 90%'

In [ ]:
emp1.changevariable("85%")

In [ ]:
emp1.BonusCalculator()

'Bonus for this employee is : 85%'

In [ ]:
emp2.BonusCalculator()

'Bonus for this employee is : 70%'

In [ ]:
class multiplynumeric():
    def __init__(self,a):
        self.a=a

In [ ]:
mul=multiplynumeric(9)
mul1=multiplynumeric(2)

In [ ]:
mul.a * mul1.a

18

In [ ]:
9 *2

18

In [ ]:
class multiplynumeric():
    def __init__(self,a):
        self.a=a
    def __mul__(self,other):
        return self.a * self.other

In [ ]:
mul=multiplynumeric(10)
mul1=multiplynumeric(2)

In [ ]:
mul.a*mul1.a

20

In [ ]:
def test(x,y):
    return x+y

In [ ]:
print(test(5,6))
print(test("bhushan","kumar"))
print(test([1,2,3,4,5],[6,7,8,9]))

11
bhushankumar
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
def test(p,q):
    return p+q

In [3]:
print(test(5,6))
print(test("Python","developer"))
print(test([1,2,3,4],[5,6,7,8]))

11
Pythondeveloper
[1, 2, 3, 4, 5, 6, 7, 8]

In [15]:
class Ineuron:
    def msg(self):
        print('this is a msg to Ineuron')
class abc:
    def msg(self):
        print('this is a msg to abc')

In [16]:
def test(notes):
    notes.msg()

In [17]:
i=Ineuron()
a=abc()

In [18]:
test(i)

this is a msg to Ineuron

In [19]:
test(x)

this is a msg to abc

In [ ]:
|